<p id="notice"><%= notice %></p>

<div style="width:100%;height:50px;font-size:40px;margin-bottom:20px;">
  <%= @business.title %>
</div>

<div style="-moz-box-shadow: 0px 0px 5px #6e6e6e;
box-shadow: 0px 0px 5px #6e6e6e;background: #7d7e7d; /* old browsers */
background: -moz-linear-gradient(top, #7d7e7d 0%, #606060 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#606060)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#606060',GradientType=0 ); /* ie */ max-width:50%; width:50%; height:400px;background-color:grey;text-align:center; float:left;color:white; font-size:20px;">
  <br /><br /><br /><br /><br /><br /><br />
  Promo Video Here, link not found
</div>

<div style="margin-bottom:20px; width:43%; height:360px; background-color:white; text-align:left; float:left;margin-left:20px;padding:20px;-webkit-box-shadow: 0px 0px 5px #6e6e6e;
-moz-box-shadow: 0px 0px 5px #6e6e6e;
box-shadow: 0px 0px 5px #6e6e6e;background: #fcfff4; /* old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #E5E5E5 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#E5E5E5)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#E5E5E5',GradientType=0 ); /* ie */">
    <div style="width:200px;float:left;margin-right:20px;">
        <span style="font-size:60px;text-align:center"><%= @business.funding_target %></span>
        <span style="font-size:20px;float:left; text-align:center;">Funding Target</span>
    </div>
    <div style="width:100px;float:right;">
        <span style="font-size:60px;float:left;width:100px;text-align:center">0</span>
        <span style="font-size:20px;text-align:center;">Votes</span>
    </div>
    <div style="width:90%;float:left;">
      <br /><br />
      <div style="width:130px;float:left;margin-right:20px;">
      <span style="font-size:40px;"> Mike </span><br /><b>Business Owner</b><br /> <br />
        </div>
      <div style="width:160px;float:right;margin-right:20px; text-align:center;">
      <span style="font-size:40px;"> Not Yet </span><br /><b>Funded?</b><br /> <br />
        </div>
    </div>



</div>
<br /><br />
<br />
<br />
<br />
<br />
<%= @business.description %>
<p>
  <b>User:</b>
  <%= @business.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @business.title %>
</p>

<p>
  <b>Description:</b>
  <%= @business.description %>
</p>

<p>
  <b>Video url:</b>
  <%= @business.video_url %>
</p>

<p>
  <b>Photo url:</b>
  <%= @business.photo_url %>
</p>

<p>
  <b>Funding target:</b>
  <%= @business.funding_target %>
</p>

<p>
  <b>Attachment url:</b>
  <%= @business.attachment_url %>
</p>

<p>
  <b>Votes:</b>
  <%= @business.votes %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', "/page/home" %>
