<br />

<div id="feature_box">
  <div id="feature_column_left">
    <div id="feature_box_header">
    For Investors
    </div>
    <div id="header_shadow"></div>
    <div style="margin-top:15px;">
    
    <div style="width:90%;margin: 0 auto; padding-left:30px;text-align:left;">
      <span style="font-size:25px;padding-bottom:10px;">Investing. But really easy.</span>
    <br /><br />
    <div style="height:20px;"></div>
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Invest in a pool (ex. restaurants)</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Vote on businesses each week</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Winners of votes receive funding</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Track returns with analytics</span><br />
    </div>
    <br /><%=link_to 'New', businesses_path%>
    
    <div id="get_started_button">Start Investing</div>
    
    </div>
  </div>
  <div id="feature_column_right">
    <div id="feature_box_header">
    For Investors
    </div>
    <div id="header_shadow"></div>
    <div style="margin-top:15px;">
    
    <div style="width:90%;margin: 0 auto; padding-left:30px; text-align:left;">
      <span style="font-size:25px;padding-bottom:10px;">Crowdsourced loans <br /> for small businesses</span>
    <br />
    <div style="height:20px;"></div>
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Create business page</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Market your page to your network</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Get voted up to receive funding</span><br />
    <%= image_tag 'checkmark.png', :size => "20x20" %>
    <span style="font-size:20px;">Provide investors with updates</span><br />
    </div>
    <br />
    <div id="get_started_button">Get Funded</div>
    
    </div>
  </div>
</div>
  
  