<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @vote.business_id %>
</p>

<p>
  <b>Points:</b>
  <%= @vote.points %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
